<launch>
  <arg name="align_depth"               default="true"/>

  <include file="$(find usb_cam)/launch/rs_camera.launch" pass_all_args = "true">
    <!-- <arg name="align_depth"               value="$(arg align_depth)"/> -->
  </include>

  <include file="$(find arm_planner)/launch/apriltag.launch" pass_all_args = "true">
    <arg name="publish_tfs" value="true"/>
    <arg name="camera_frame" value="camera_color_optical_frame"/>
    <arg name="camera_name" value="/camera/color"/>
    <arg name="image_topic" value="image_raw"/>
  </include>

</launch>